{% extends 'layouts/application.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>User List Of Company</h2>
                <p>Manage your company. Manage your credentials. All in one place to integrate platform
                    with third party tools and libraries.</p>
                <p>
                    <a class="btn btn-primary" href="/users/create"
                       title="Add a new user">
                        <i class="fa fa-plus"></i>
                        Add User
                    </a>
                    <a class="btn btn-info" href=""
                       title="Check security settings">
                        <i class="fa fa-user-secret"></i>
                        Roles & Permissions
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header">
                    <div class="pull-left">
                        <h3 class="panel-title">List of Users </h3>
                    </div>
                    <div class="pull-right">
                        <h3 class="panel-title">Total users # </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Visibility</th>
                                        <th>Created</th>
                                        <th>Last Seen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.user_id }}</td>
                                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                                            <td>{{ user.email_address }}</td>
                                            <td>
                                                {{ user.status == 1 ? '<span class="label label-info">Active</span>' : '<span class="label label-warning">Inactive</span>'}}
                                            </td>
                                            <td>
                                                {{ user.is_visible == 1 ? '<span class="label label-success">Visible</span>' : '<span class="label label-warning">Disable</span>'}}
                                            </td>
                                            <td>{{ user.created | date('M d, Y') }}</td>
                                            <td>{{ user.last_seen | date('M d, Y') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}